<div class="post-details-container" *ngIf="post; else postNotFound">
  <div class="detail-heading">
    <h3>Details of post: {{ post.id }}</h3>
    <div class="options">
      <a routerLink="/{{ post.id }}/edit" class="btn btn-green" title="Edit">
        <i class="fa-solid fa-pen-to-square"></i>
      </a>
      <a (click)="onDelete(post.id)" class="btn btn-red" title="Delete">
        <i class="fa-solid fa-trash"></i>
      </a>
      <a (click)="onBack()" class="btn btn-blue" title="Go back">
        <i class="fa-solid fa-chevron-left"></i>
      </a>
    </div>
  </div>
  <div class="post-details">
    <div class="details-items">
      <div class="item">Post ID: {{ post.id }}</div>
      <div class="item">Album ID: {{ post.albumId }}</div>
      <div class="item">Title: {{ post.title }}</div>
      <div class="item">Thumbnail url: {{ post.thumbnailUrl }}</div>
      <div class="item">Image url: {{ post.url }}</div>
    </div>
    <div class="post-image">
      <img src="{{ post.url }}" alt="Photo of post with id: {{ post.id }}" />
    </div>
  </div>
</div>

<ng-template #postNotFound>
  <div class="post-details-container post-not-found">
    <h3>Post with id: {{ id }} does not exist!</h3>
  </div>
</ng-template>
